.catalog {
    background-color: #fff;
    display: flex;
    padding: 20px 25px;
    width: 100%;
    justify-content: space-around;


    &_categories{
        margin: 30px;
        width: 100%;

        &_item{
            margin: 40px 20px;

          .product{
            height: 250px !important;
            width: 230px !important;
            margin: 20px 10px;

            .product-body{
            height: 250px !important;
            width: 230px !important;
            font-size: 12px !important;
            }
          }
        }
    }
}