header{
    background-image: linear-gradient(10deg, rgb(194, 224, 250) 10%, rgb(67, 122, 224) 90%);
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

    .header-body {
        width: 100%;
        margin: 0 auto;

        .header-logo_img{
        z-index: 100;
        width: 120px;
        background: transparent;
    }

    .header-logo-txt{
        color: #297BB6;
        font-size: 38px;
        font-weight: 500;
        margin-left: 20px;
    }

    .menu{
        &-list{
            text-align: center;
            align-items: center;
            margin-top: 15px;
            
            li a {
                color:aliceblue;
                font-size: 18px;
            }}
         &-item{
            width: 20% !important;
         }
         &-item-logo{
            width: 29% !important;
            text-align: center;
            align-items: center;
            margin-top: 25px;
            border: 1px solid rgba(255, 255, 255, 0.514);
            border-top-style: none;
            border-bottom-style: none;
            border-left-style: none
         }
        
    }

    .header-schedule{
        width: 10%;
        display: flex;
        color:azure;
        font-size: 16px;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
        text-align: left;
        border: 1px solid rgba(255, 255, 255, 0.438);
        border-top-style: none;
        border-bottom-style: none;

        &_time{
            color: rgb(89, 91, 92);
        }
    }

    .phone{
        width: 15%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        &-link{
           color: rgb(159, 218, 252);
           font-size: 22px; 
           font-weight: 500;
        }
        &-callback{
            padding: 13px 7px 0 7px;
            border: 1px solid rgba(240, 248, 255, 0.767);
            margin: 10px 0 5px 0;
            border-radius: 36px;
            width: 67%;
            &:hover,
            &:focus {
                background-color: aliceblue;
                color: rgb(144, 176, 235);
                border: 1px solid rgb(144, 176, 235);
            }
        }

        &-callback_link{
            color:rgba(240, 248, 255, 0.849);
            font-size: 14px;

            &:hover,
            &:focus {
                color: rgb(144, 176, 235);
            }
        }
    }

}

