@import "~bootstrap/scss/bootstrap";
@import './components/all';

*{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.container-fluid {
    padding: 0;
    margin: 0;
}
.content {
    max-width: 1470px;
    margin: 0 auto;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0; 
}

 a{
        text-decoration: none !important;
    }